<!DOCTYPE html>
<html>
<head>
	<p>
	<title>Add | Online Calculator</title>
	</p>
</head>
<body>
	<p>
	<h1>Add</h1>
	<input type="number" placeholder="1st number"> + 
	<input type="number" placeholder="2nd number">
	</p>
</body>
</html>