<h1>Welcome to this timetracking tool</h1>
<p>Ironhack powered</p>

<%= render("partials/sign_up") %>
<a href="/contact">contact page</a>

<img src = "https://media.giphy.com/media/12nZicO7Nz3gVW/giphy.gif" alt="An illustration of burrito">