<h1> Welcome to the Movie Lovers Game </h1>


<p>
<form action="/film_name" method="post">
	<input type="text" name="the_film" placeholder="Search a film">
	<!-- <button type="submit" name="button">Submit</button> -->
	<input name="commit" type="submit" value="Play">
</form>

</p>